extends layout

block content
  h1 Details
  .form-group(style='padding-left:15px;padding-right:15px;')
    .row
     .col-sm-2
        .media
          .media-left(style='padding-left: 50%;')
            label.details(for='name', style='padding-left:2%') &nbsp
            img.media-object.img-circle(src=photo, style='width:50px;height:50px')
     .col-sm-10
      label.details(for='name', style='padding-left:2%') Name
      input.form-control(type='text', name='name', id='name', autofocus, required, value=details.name)
  .form-group.container-fluid
    .row
      .col-sm-6
        label.details(for='gender') Gender
        input.form-control(type='text', name='gender', id='gender', required, value=details.gender)
      .col-sm-6
        label.details(for='birthDay') Date of birth
        input.form-control(type='text', name='birthDay', id='birthDay', required, value=details.birthDay)
  .form-group.container-fluid
    .row
      .col-sm-6
        label.details(for='country') Country
        input.form-control(type='text', name='country', id='country', required, value=details.country)
      .col-sm-6
        label.details(for='city') City
        input.form-control(type='text', name='city', id='city', required, value=details.city)
  .form-group.container-fluid
    .row
      .col-sm-6
        label.details(for='email') Email
        input.form-control(type='email', name='email', id='email', value=details.email)
      .col-sm-6
        label.details(for='ether') Ether amount
        input.form-control(type='text', name='ether', id='ether', required, value='100')
  #accordion.panel-group
    .panel.panel-default
      .panel-heading(style='background: #16a085;color: white;')
        h4.panel-title
          a(data-toggle='collapse', data-parent='#accordion', href='#collapse2', style='font-weight:300')
            | Documents
      #collapse2.panel-collapse.collapse
        .panel-body
          .container(style='width:100%')
            if documents != null
              table.table
                thead
                  tr
                    th(style='font-weight:300') #
                    th(style='font-weight:300') Name
                    th(style='font-weight:300') Date
                    th(style='font-weight:300') Validated
                    th(style='font-weight:300') Download
                tbody
                - var i = 0
                for doc in documents
                  - i++
                  tr
                    td= i
                    td= doc.name
                    td= doc.dateUploaded
                    td
                      if doc.validated == true
                        span.glyphicon.glyphicon-ok
                      else 
                        span.glyphicon.glyphicon-remove
                    td 
                      button.btn.btn-default.btn-sm(type='button', onclick="window.open('/preview/"+doc.hash+"/"+doc.docType+"')")
                        span.glyphicon.glyphicon-download
            form(action='/api/ipfs/upload', method='POST', enctype='multipart/form-data', style='float: right;width: 160px;font-size: 12px;font-weight:100')
              | Select a file to upload:
              input(type='file', name='document')
              input(type='text', hidden, name='token', value=token)
              input.btn-hack(style='height:30px', type='submit', value='Upload')
    .panel.panel-default
      .panel-heading(style='background: #16a085;color: white;')
        h4.panel-title
          a(data-toggle='collapse', data-parent='#accordion', href='#collapse3', style='font-weight:300')
            | Journey
      #collapse3.panel-collapse.collapse
        .panel-body
          .container(style='width:100%')
            table.table
              thead
                tr
                  th(style='font-weight:300') #
                  th(style='font-weight:300') Location
                  th(style='font-weight:300') Name
                  th(style='font-weight:300') Date
                  th(style='font-weight:300') Latitude
                  th(style='font-weight:300') Longitude
              tbody
                tr
                  td 1
                  td Syria
                  td Refugee Camp
                  td 12/12/12
                  td 12
                  td 58    
        .media.center-block
          .media-left.center-block
            img.media-object.center-block(src='/images/map.png', style='height: 255px;padding-bottom: 5%;')