extends layout

block content
  h1 Home
  hr
  #accordion.panel-group
    .panel.panel-default
      .panel-heading
        h4.panel-title
          a(data-toggle='collapse', data-parent='#accordion', href='#collapse1')
            | Details
      #collapse1.panel-collapse.collapse.in
        .panel-body
          .media
            .media-left
              img.media-object.img-thumbnail(src='/images/avatar.jpg', style='width:100px')
            .media-body
              .container-fluid
                .row
                  .col-lg
                  .col-sm-3
                    p Name | #{details.name}
                  .col-sm-3
                    p Date of Birth | #{details.birthDay}
                  .col-sm-3
                    p Gender | #{details.gender}
                .row
                  .col-sm-3
                    p Country | #{details.country}
                  .col-sm-3
                    p City | #{details.city}
                  .col-sm-3
                .row
                  .col-sm-3
                    p Ether amount | 100
    .panel.panel-default
      .panel-heading
        h4.panel-title
          a(data-toggle='collapse', data-parent='#accordion', href='#collapse2')
            | Documents
      #collapse2.panel-collapse.collapse
        .panel-body
          .container(style='width:100%')
            table.table.table-striped
              thead
                tr
                  th #
                  th Name
                  th Date
                  th Validated
                  th Download
              tbody
              - var i = 0
              for doc in documents
               - i++
                tr
                  td= i
                  td= doc.name
                  td= doc.dateUploaded
                  td
                    if doc.validated == true
                      span.glyphicon.glyphicon-ok
                    else 
                      span.glyphicon.glyphicon-remove
                  td 
                    button.btn.btn-default.btn-sm(type='button', onclick="window.open('/preview/"+doc.hash+"/"+doc.docType+"')")
                      span.glyphicon.glyphicon-download
            form(action='/api/ipfs/upload', method='POST', enctype='multipart/form-data')
              | Select a file to upload:
              input(type='file', name='document')
              input(type='text', hidden, name='token', value=token)
              input(type='submit', value='Upload')
    .panel.panel-default
      .panel-heading
        h4.panel-title
          a(data-toggle='collapse', data-parent='#accordion', href='#collapse3')
            | Journey
      #collapse3.panel-collapse.collapse
        .panel-body
          .container(style='width:100%')
            table.table.table-striped
              thead
                tr
                  th #
                  th Location
                  th Name
                  th Date
                  th Latitude
                  th Longitude
              tbody
                tr
                  td 1
                  td Syria
                  td Border
                  td 12/12/12
                  td 12
                  td 58
                tr
                  td 1
                  td Syria
                  td Refugee Camp
                  td 12/12/12
                  td 12
                  td 58
                tr
                  td 1
                  td Syria
                  td Border
                  td 12/12/12
                  td 12
                  td 58