extends layout

block content
  h1 Pending validations

  h2.details(style='font-weight:300;') Identity validation
  br
  .panel.panel-default(style='border-radius:100px;margin-top:5%;border: 1px solid #16a085;')
    .panel-body
      .container(style='width:100%')
        table.table
          thead
            tr
              th(style='font-weight:300') #
              th(style='font-weight:300') Name
              th(style='font-weight:300') Date created
              th(style='font-weight:300') Validate
          tbody
          if ids != null
            - var i=0
            for id in ids
              - i++
              tr
                td= i
                td= id.profile.name
                td= id.updatedAt
                td 
                  form.form-horizontal(action='validateId/'+id.token, method='post')
                    button.btn.btn-default.btn-sm
                      span.glyphicon.glyphicon-ok
  h2.details(style='font-weight:300;margin-bottom:5%') Document validation
  br
  .panel.panel-default(style='border-radius:100px;margin-top:5%;border: 1px solid #16a085;')
    .panel-body
      .container(style='width:100%')
        table.table
          thead
            tr
              th(style='font-weight:300') #
              th(style='font-weight:300') Name
              th(style='font-weight:300') Date created
              th(style='font-weight:300') Validate
          tbody
          if docs != null
            - var i=0
            for doc in docs
              - i++
              tr
                td= i
                td= doc.name
                td= doc.dateUploaded
                td 
                  form.form-horizontal(action='validateDocument/'+doc.hash+'/'+doc.userToken, method='post')
                    button.btn.btn-default.btn-sm
                      span.glyphicon.glyphicon-ok