extends layout

block content
  h1 Pending validations
  hr
  .panel.panel-default
    .panel-body Identity validation
      .container(style='width:100%')
        table.table.table-striped
          thead
            tr
              th #
              th Name
              th Date created
              th Validate
          tbody
          if ids != null
            - var i=0
            for id in ids
              - i++
              tr
                td= i
                td= id.profile.name
                td= id.updatedAt
                td 
                  button.btn.btn-default.btn-sm(type='button')
                    span.glyphicon.glyphicon-ok
  .panel.panel-default
    .panel-body Documents validation
      .container(style='width:100%')
        table.table.table-striped
          thead
            tr
              th #
              th Name
              th Date created
              th Validate
          tbody
          if docs != null
            - var i=0
            for doc in docs
              - i++
              tr
                td= i
                td= doc.name
                td= doc.dateUploaded
                td 
                  button.btn.btn-default.btn-sm(type='button')
                    span.glyphicon.glyphicon-ok                